/*ids e classes*/

/* imagens ficam responsivas */
.img{
    width: 60vw;
    height: auto;
    display: block;
    margin: 0 auto;
}


#ref{
    font-size: 12px; /* tamanho da letra */ 
}

/* galeria */
#dois{
    /* flexbox */
     display: flex; /* itens flex */
     flex-direction: row; /* direção do flex -- esquerda para a direita */
     flex-wrap: wrap; /* em vez de cortar a imagem ela vai pra baixo e diminui junto  */
            
     align-items: center; /* centraliza os itens */
     gap: 0.5vw; /* espaço entre a galeria o link*/
     justify-content: space-evenly; /* os itens são destribuídos em espaços iguais */
     align-content: flex-start; /* quando a tela fica menor eles se agrupam sem espaçamento */
}

/* formulário */
.form{
    display: grid; /* itens grid */
    grid-template-columns: repeat(auto-fit, 200px); /* cria colunas de 200px cada */
    justify-content: center; /* centraliza tudo */
    gap: 10px; /* espaçamento entre os itens do forms */
    padding:20px; /* espaçamento entre o forms e o site */
}
  
.imgf img{
    margin-top: 20px; /* espaçamento em cima */
    width: 100%; /* largura responsiva */
    max-width: 500px; /* máxima altura que pode atingir */
    height: auto; /* altura automática */
}
        
/* em telas menores a imagem e o formulário ficam em uma única fileira*/
@media (width < 500px) {
    .form{
        grid-template-columns: 1fr; 
    }
    .form figcaption{
       display:none;
    }
}



/* banner animado */
.caixa{
    margin-left: 4vw; /* margem da esquerda */
    margin-bottom: 2vw; /* margem de baixo */
    width: 90vw; /* largura */
    height: 40vw; /* altura */
    border: 0.3vw var( --letter-border-color) solid; /* tamanho, cor e estilo da borda */
}
.img1 { 
  width:7vw; /* largura */
  height: 5vw; /* altura */
  background-image: url(../img/bandeira_EUA.png); /* imagem */
  background-size: cover; /* imagem não é distorcida */
  position: relative; /* posição */
  left: 5vw; /* se posiciona a esquerda */
  top: 15vw; /* se posiciona para cima */

  animation-name: desloca1;  /* animação da imagem1 */
  animation-duration: 5s; /* duração da animação */  
  animation-iteration-count: infinite; /* interação infinita da animação */
  animation-timing-function: linear;  /* ritmo da animação */
}

.img2{   
  width:8vw; /* largura */
  height: 6vw; /* altura */
  background-image: url(../img/bandeira_URSS.png); /* imagem */
  background-size: cover; /* imagem não é distorcida */
  position: relative; /* posição */
  left: 75vw; /* se posiciona a esquerda */
  top: 15vw; /* se posiciona para cima */

  animation-name: desloca2;  /* animação da imagem2 */
  animation-duration: 5s; /* duração da animação */       
  animation-iteration-count: infinite; /* interação infinita da animação */
  animation-timing-function:linear;  /* ritmo da animação */
}


@keyframes desloca1 {
  0%   {transform: 
                  translate(0vw)
                  scale(1)
      }  
  50% {transform:
                  translate(30vw)
                  scale(2)            
      }   
  100% {transform:
                  translate(0vw) 
                  scale(1)           
      }
}


@keyframes desloca2 {
  0%   {transform: 
                  translate(0vw)
                  scale(1)
      }  
  50% {transform:
                  translate(-30vw)
                  scale(2)            
      }   
  100% {transform:
                  translate(0vw) 
                  scale(1)           
      }
}
    

/* mosaico */
.mosaico{
	display: grid; /* itens grid */
	grid-template-columns: 1.2fr 1fr 1.2fr; /* colunas do grid */
	grid-template-rows: auto auto auto; /* direções automáticas das colunas */
	max-width: 70%; /* altura máxima == 70% */
	margin: 0 auto; /* margin automática */
    margin-bottom: 25px; /* margin embaixo */
}

.fotos img {
  width: 100%; /* largura */
  height: 100%; /* altura */
  object-fit: cover; /* caso a imagem tenha tamanho diferente ela é cortada para se encaixar */
  display: block; /* remove o espaço extra abaixo da imagem */
}


#foto1 {
	grid-column: 1; /* coluna que a imagem começa */
	grid-row: 1 / span 2; /* linha que começa, e quanto ocupa dela */
}

#foto2 {
	grid-column: 2; /* coluna que a imagem começa */
	grid-row: 1; /* linha que começa, e quanto ocupa dela */
}
#foto3 {
	grid-column: 3; /* coluna que a imagem começa */
	grid-row: 1 / span 3; /* linha que começa, e quanto ocupa dela */
}
#foto4 {
	grid-column: 2; /* coluna que a imagem começa */
	grid-row: 2 / span 2; /* linha que começa, e quanto ocupa dela */
}
#foto5 {
	grid-column: 1; /* coluna que a imagem começa */
	grid-row: 3; /* linha que começa, e quanto ocupa dela */
}
