:root {
    /* Cores */
    --letter-border-color: #5e2a27;
    --bodybackground-color: #ffffff;
    --background-color: #e8dfcb;
    --background-button: #ffe9e7c2;
    --nav-a: #95534f;
    --nav-main-a-hover: #e47f37;
    --main-a: #b87d79;
    
    /* Fontes */
    --font-base: "Datatype", sans-serif;
    
}